*{
    box-sizing: border-box;
}

html{
    font-size: 1rem; /* 10px */
}

body{
    height:100vh;
    margin:0;
    font: 1.6rem arial ;

}
a{
    text-decoration: none;
    color: black;
}
a:hover{
    color: skyblue;
}
button{
    font:1.6rem helvetica;
    padding: 1rem;
    border:none;
    background-color: rgb(2,174,238);
    border-radius:0.5rem;
    cursor: pointer;
    color: white;
    width: 100%;
}

button:hover{
   background-color: rgb(141, 225, 242);
   color:white;
   border: 2px solid black;
}
.grid-container{
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    /* grid-template-columns: 1fr; */
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header{
    grid-area: header;
    background-color: rgb(2,174,238);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 0.5rem;
}
header a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.brand-logo a img{
   width: 92px;
}

footer{
    background-color: rgb(2,174,238);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
}

/* products */
.products{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    justify-content: center;
}
.products li{
    flex: 0 1 30 rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 20rem;
    border-top: 0.2rem rgb(225, 221, 221) solid;
}
.product{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}
.product img{
    max-height: 26rem;
    max-width: 22rem;
    margin-top: 2rem;

}
.product-name{
    line-height: 2.2rem;
}
.product-brand{
    font-size: 1.2rem;
    color: grey;
}

/* rating */

.rating{
    color: gold;
    font-size: 1.8rem;
}

.rating span:last-child{
    color: black;
    font-size: 1.4rem;
}

/* Product Details */
.details {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .details-image {
    flex: 2 1 30rem;
  }
  .details-image img {
    max-width: 60rem;
    width: 100%;
  }
  .details-info,
  .details-action {
    flex: 1 1 30rem;
  }
  .details-info ul,
  .details-action ul {
    padding: 0;
    list-style-type: none;
  }
  .details-info h1 {
    font-size: 2rem;
    margin: 0;
  }
  .details-info li,
  .details-action li {
    margin-bottom: 1rem;
  }
  .details-action {
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    padding: 1rem;
  }